<!DOCTYPE html>
<html>
<head>
<title>Essay Writing</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sriracha&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body >
	<div class="header">
        <div class="inner">
        <div class="container">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        
          <nav >
            <ul class="social-media ">
               <li><a href="/" ><i class="fa fa-home"></i>Home</a></li>
               <li><a href="/logout" ><i class="fa fa-sign-out-alt"></i>LogOut</a></li>
            </ul>
          </nav>
        </div>
    </div>
</div>





<form class="container" method="POST" action="/home">

  <h2>Essay Topics: </h2>
  <div class="box">
    <select name="checklist">
      <option value="null">Select Essay Topic-</option>
      <option value="sports">Sports</option>
      <option value="computer">Computer</option>
      <option value="tech">Science & Technology</option>
      <option value="pet">Pet</option>
      <option value="music">Music</option>
      <option value="holiday">Favorite Holiday Destination</option>
      <option value="parents">Parents</option>
      <option value="friends">Friends</option>
      <option value="teacher">Teacher</option>

    </select>

  
  </div>
        

  <div class="text">
    <textarea id="essay" name="essay" rows="10" cols="60" maxlength="1100" placeholder= "Write essay here..."></textarea>
    <br><br>
    <input type="submit" value="Submit" id="submit">
  </div>
        
  

</form>
<div class="col-xs-10">
      <div class="box1"></div>
    </div>
    
    <div class="footer">Autograder ©</div>



  </body>
</html>


