<!DOCTYPE html>
<html>
<head>
<title>Student Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SAG.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sriracha&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body >
	<div class="header">
        <div class="inner">
        <div class="container">
        <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="Logo">
        
          <nav >
            <ul class="social-media ">
               <li><a href="{{url_for('home')}}" ><i class="fa fa-home"></i>Home</a></li>
               <li><a href="{{url_for('logout')}}" ><i class="fa fa-sign-out-alt"></i>LogOut</a></li>
            </ul>
          </nav>
        </div>
    </div>
</div>

	     
        <div class="contain">
        	<div class="title">
        		<h1>Welcome to Auto Grader</h1>
        	</div>
        <div class="sub-container">
        	<div id="btn1"><a href="/home"><i class="fas fa-edit" style="font-size:20px"></i>Write Essays</a></div>
        	<div id="btn3"><a href="/profile"><i class="fas fa-user" style="font-size:20px"></i>My Profile</a></div>
        </div>
      </div>
      <div class="footer">Autograder ©</div>

</body>
</html>

				